
    
/* .principal-section .principal-image-container{
    z-index: 10;
}

.principal-section .principal-image-container img {
    height: 100vh;
}

.principal-section .principal-image-container .fade-appear {
    opacity: 0.01;
}

.principal-section .principal-image-container .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.principal-section .principal-image-container .fade-enter {
    opacity: 0.01;
}

.principal-section .principal-image-container .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
} */

/* exit */
/* .principal-section .principal-image-container .fade-exit {
    opacity: 1;
}
.principal-section .principal-image-container .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 2000ms ease-in;
}
.principal-section .principal-image-container .fade-exit-done {
    opacity: 0.01;
    
} */

.principal-section {width:100%; height:100%; overflow:hidden; position:relative; }
.principal-section img{ position:absolute; animation:principal-section 24s infinite; opacity:0; width: 100%; height: 100%;}

@keyframes principal-section {25%{opacity:1;} 40%{opacity:0;}}
.principal-section img:nth-child(4){animation-delay:0s;}
.principal-section img:nth-child(3){animation-delay:6s;}
.principal-section img:nth-child(2){animation-delay:12s;}
.principal-section img:nth-child(1){animation-delay:18s;}

 